{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}


{%- block extra_styles-%}
	<style>
		body {
			background-image: url("{{ url_for('static', filename='img/humanoori_background.jpg') }}");
			background-repeat: no-repeat;
			background-size: 100%;
		}

		div.container {
			background-color: white;
			opacity: 0.9;
		}
        #summary-table td {
            padding-right: 10px;
        }
	</style>
{%- endblock -%}


{%- block event_info -%}
	<p>Kutsu Grand OTiT tapahtumaan 28.5.2022</p>
    <p>Oulun Tietoteekkarit kutsuvat tähän iltatapahtumaan jokaisen killan hallitukseksessa mukana olleen sekä kunniajäsenet.
        Tapahtumassa on luvassa vähintäänkin syötävää, ohjelmaa, saunaa, kanssaoloa sekä vanhojen muistelua. Miksei myös uudempaan jäsenistöön tutustumista!
        Tapahtuma kustantaa 10-20€ riippuen lopullisesta osallistujamäärästä. Lopullinen hinta ja maksuohjeet tarkennetaan lähempänä tapahtumaa.</p>
    <table id="summary-table">
        <tbody>
            <tr><td>MITÄ:</td><td>GrandOTIT</td></tr>
            <tr><td>MISSÄ:</td><td>Teekkaritalolla, Kalervontie 7 Oulu</td></tr>
            <tr><td>MILLOIN:</td><td>28.5. klo 17.00 alkaen</td></tr>
            <tr><td>Pukukoodi:</td><td>Cocktail</td></tr>
        </tbody>
    </table>
    <br />
{%- endblock -%}

{% macro participant_form(form) %}
	{{ macros.form_field(form.firstname) }}
	{{ macros.form_field(form.lastname) }}
	{{ macros.form_field(form.email) }}
	{{ macros.form_field(form.board_year) }}
	{{ macros.form_field(form.allergies) }}
    <br />
    <h5>Haluan pitää puheen</h5>
	{{ macros.form_field(form.speaker) }}
{% endmacro %}

{%- block registration_form -%}
	{%- call macros.registration_form_routine(form) -%}
		{{ participant_form(form.required_participants[0]) }}
		<br />
		{%- set other = form.get_other_attributes() -%}
		{{ macros.form_field(other.show_name_consent) }}
		{{ macros.form_field(other.privacy_consent) }}
	{%- endcall -%}
{%- endblock -%}

{%- block participant_list -%}
	{%- call(entry, is_in_reserve) macros.participant_list_routine(registrations.get_entries(), event) -%}
		<p>
		{%- set participant = entry.get_required_participants()[0] -%}
		{{ participant.firstname }} {{ participant.lastname }}

		{%- set avec = entry.get_optional_participants()[0] if entry.get_optional_participants()|length > 0 -%}
		{%- if avec and avec.firstname and avec.lastname %}
			& {{ avec.firstname }} {{ avec.lastname }}
		{%- endif -%}

		{% if is_in_reserve %}
			{{ " (Varasijalla)" }}
		{% endif %}
		</p>
	{%- endcall -%}
{%- endblock -%}