{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles-%}
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/bus3_.jpg') }}");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        div.container {
            max-width: 900px;
            background-color: white;
            opacity: 0.9;
        }
    </style>
{%- endblock -%}

{%- block extra_js -%}
    <script>
        function main(){
            const quotaNode = document.getElementById('quota');
            const accomodationForm = document.getElementById('accomodation_form')
            if (!quotaNode || !accomodationForm) {
                return;
            }
            quotaNode.onchange = function () {
                const show = this.value === this.children[0].value ? '' : 'none';
                accomodationForm.style.display = show;
            };
        }
        main ();
    </script>
{%- endblock -%}

{%- block event_info -%}
    <p>KMP tulee taas!
    Tämän vuoden KMP järjestetään 18. - 20.3.</p>
{% endblock %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        <h4>Henkilötiedot</h4>
        {{ macros.form_field(form.firstname) }}
        {{ macros.form_field(form.lastname) }}
        {{ macros.form_field(form.email) }}
        {{ macros.form_field(form.quota) }}
        {{ macros.form_field(form.departure_busstop) }}
        <br />
        <div id="accomodation_form">
            <h4>Majoitustiedot</h4>
            {{ macros.form_field(form.roommate_preference) }}
            {{ macros.form_field(form.room_sex_composition) }}
            {{ macros.form_field(form.sex) }}
            {{ macros.form_field(form.allergies) }}
        </div>

        {{ macros.form_field(form.privacy_consent) }}
    {%- endcall -%}
{% endblock %}