{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles-%}
<style>
  body {
      background-image: url("{{ url_for('static', filename='img/badminton.jpg') }}");
      background-repeat: no-repeat;
      background-size: 100%;
  }
  div.container {
      max-width: 900px;
      background-color: var(--bs-body-bg);
      opacity: 0.975;
  }
</style>
{%- endblock -%}

{%- block event_info -%}
<p> Killan sulkapalloturnaus tulee taas. Paikkana toimii Linnanmaan liikuntakeskus, Virkakuja 1. </p>
<p>Turnaus järjestetään 02.05.2026 klo 17:00-20:00 välisenä aikana. Voit ilmoittautua yksin tai parin kanssa. Mukaan sisäpelikengät ja urheiluvaatteet. </p>
 <p> Jos tulee kysyttävää, voit olla yhteydessä urheiluministeri@otit.fi tai tg:ssä @Kor1pallo</p>
{% endblock %}


{% macro participant_form(form) %}
    {{ macros.form_field(form.firstname) }}
    {{ macros.form_field(form.lastname) }}
    {{ macros.form_field(form.email) }}
    {{ macros.form_field(form.quota) }}
    {{ macros.form_field(form.irc_name) }}
{% endmacro %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
    {{ participant_form(form.required_participants[0]) }}
    <br />
    {%- call macros.registration_optional_participant() -%}
    <legend>Parin tiedot</legend>
    {{ participant_form(form.get_optional_participants()[0]) }}
    {%- endcall -%}

    <br />
    {{ macros.form_field(form.get_other_attributes().show_name_consent) }}
    {{ macros.form_field(form.get_other_attributes().privacy_consent) }}
    {%- endcall -%}
    {%- endblock -%}
{%- block participant_list -%}
    {%- call(entry, is_in_reserve) macros.participant_list_routine(registrations.get_entries(), event) -%}
        <p>
        {%- set participant = entry.get_required_participants()[0] -%}
        {{ participant.firstname }} {{ participant.lastname }}
        {%- set avec = entry.get_optional_participants()[0] if entry.get_optional_participants()|length > 0 -%}
        {%- if avec and avec.firstname and avec.lastname %}
            & {{ avec.firstname }} {{ avec.lastname }}
        {%- endif -%}

        {% if is_in_reserve %}
            {{ " (Varasijalla)" }}
        {% endif %}
        </p>
    {%- endcall -%}
{%- endblock -%}
