{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles -%}
    <style>
        body {
        <!-- background-image: url("{{ url_for('static', filename='img/fragment_bg.webp') }} ");
        --> background-size: cover;
        }

        div.container {
            max-width: 900px;
            background-color: var(--bs-body-bg);
            opacity: 0.975;
        }

        div.form-check {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }


    </style>
{%- endblock -%}

{%- block event_info -%}
    <div class="text-center">
        <img src="{{ url_for('static', filename='img/gofore.svg') }}" alt="logo" class="p-1 w-50"
         style="filter: drop-shadow(0.5rem 0.5rem 2px rgba(0, 0, 0, 0.125));)"/>
    </div>

    <p class="text-center">
        <span class="fs-2 fw-bold">Goforen yritysvierailu</span>
    </p>
    <p class="text-center">Tervetuloa Goforen yritysvierailulle torstaina 27.11. klo 17.00 alkaen!<br>
        Vierailu järjestetään Goforen toimistolla Oulun vanhalla paloasemalla, osoitteessa Kauppurienkatu 24.
        <br><br>
        Excursiolla pääset tutustumaan Goforen Oulun toimistoon, ja kuulemaan Goforen asiantuntijoilta heidän työstään ja urapolustaan.
        Illan aikana luvassa on syötävää ja juotavaa, verkostoitumista sekä rentoa illanviettoa mm. lautapelien parissa,
        joten älä jätä tätä erinomaista tilaisuutta käyttämättä!
    </p>
    <hr>
    <p class="text-center">
        Welcome to Gofore's office excursion on Thursday, November 27th, starting at 17:00!<br>
        The visit will take place at Gofore's office in Oulu's old fire station, at Kauppurienkatu 24.
        <br><br>
        During the excursion you will get to know Gofore's Oulu office and hear from Gofore's experts about their work and career paths.
        The evening will include food and drinks, networking and relaxed evening activities such as board games,
        so don't miss this excellent opportunity!
        <br><br>
        <span class="fw-bold">Ilmoittautuminen on sitova. Registration is binding.</span>
    </p>
{% endblock %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {% set p = form.get_required_participants()[0] %}
        <h4>Ilmoittautuminen | Sign-up</h4>
        {{ macros.form_field(p.firstname) }}
        {{ macros.form_field(p.lastname) }}
        {{ macros.form_field(p.email) }}
        {{ macros.form_field(p.telegram) }}
        {{ macros.form_field(p.allergies) }}
        {{ p.quota(hidden=true) }}

        {% set other = form.get_other_attributes() %}
        {{ macros.form_field(other.show_name_consent) }}
        {{ macros.form_field(other.privacy_consent) }}
        {{ macros.form_field(other.binding_registration_consent) }}
    {%- endcall -%}
{% endblock %}
