{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles -%}
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/fragment_bg.webp') }}");
            background-size: cover;
        }

        div.container {
            max-width: 900px;
            background-color: var(--bs-body-bg);
            opacity: 0.975;
        }

        div.form-check {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }


    </style>
{%- endblock -%}

{%- block event_info -%}
    <img src="{{ url_for('static', filename='img/fragment_logo.png') }}" alt="logo" class="p-1 w-100" style="filter: drop-shadow(0.5rem 0.5rem 2px rgba(0, 0, 0, 0.125));)" />
    <p class="text-center">
        <span class="fs-2 fw-bold">Fragment LAN 2026</span>
    </p>
    <p class="text-center">On taas se aika, nimittäin Fragmentin aika!<br>
        Jo toista vuotta peräkkäin järjestettävä yliopiston suurin, ja samalla TST:n kiltojen yhteinen verkkopelitapahtuma Fragment LAN käynnistyy perinteiden mukaisesti Tellus Backstagella ensi viikon perjantaina 16.1. klo 16,<br>
        ja pyörii kellon ympäri sunnuntaihin 18.1. klo 16 asti. Tapahtuman järjestelyissä mukana ovat jälleen OTiT, SIK, OLTO sekä Blanko.<br><br>

        <b>Mitkä ihmeen lanit?</b><br>LAN partyissä, eli tuttavallisemmin "laneilla", peli- ja tietokoneharrastajat kokoontuvat pelaamaan ja
        viettämään aikaa yhdessä. Laneilla voit verkostoitua, oppia uutta, osallistua turnauksiin ja tutustua
        tietokoneiden sekä lauta- ja konsolipelien maailmaan. Lanit eivät siis ole vain ruudun tuijottamista, vaan yhteinen kokemus,
        jossa pääset tapaamaan kavereitasi ja muita samanhenkisiä ihmisiä, nauttien tietysti aidosta lanitunnelmasta!<br><br>

        <b>Laneille osallistuminen</b><br>Fragmenteille voit osallistua joko maksutta kävijänä, tai osallistumismaksun maksamalla konepaikan kera.<br>
        Osallistumismaksu (5 €) kattaa konepaikan ja rannekkeen, kahvia, snackseja sekä osallistumisoikeuden BYOC-turnauksiin (Bring Your Own Computer).
        Konepaikka koostuu pöytäpaikasta (90x73cm) ja tuolista, <span class="text-decoration-underline fw-bold">yhdestä</span> sähköpistokkeesta sekä 1 Gbps nettiyhteydestä.
        Paikkoja on saatavilla rajoitetusti, joten varaa omasi ajoissa!
        <br><br>
        Lisätietoa viikonlopusta (sisältäen mm. pakkausohjeet) löydät lanien viralliselta <a href="https://fragmentlan.fi/discord">Discord-palvelimelta</a>.<br>
        Vinkkinä: muista ottaa mukaasi ainakin oma jatkojohto sähköjä varten, sekä vähintään 10 metriä pitkä verkkokaapeli RJ45-liittimillä varustettuna.
        <br><br>
        <span>Tapahtuma on päihteetön, ja suunnattu Tieto- ja sähkötekniikan tiedekunnan tutkinto-opiskelijoille.</span><br><span class="fw-bold">Ilmoittautuminen on sitova.</span>
    </p>
    <h4>Maksuohjeet | Payment instructions</h4>
    <ul>
        <li>Tilinumero | Account: FI03 4744 3020 0116 87</li>
        <li>Saaja | Recipient: Oulun Tietoteekkarit ry</li>
        <li>Summa | Sum: 5,00 €</li>
        <li>Viesti | Message: Oma nimi (own name) + Fragment LAN 2026</li>
        <li>Eräpäivä | Due date: 16.1.2026. Kuitti maksusta on esitettävä tapahtumaan saapuessa. A payment receipt must be provided when arriving to the event.</li>
    </ul>

{% endblock %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {% set p = form.get_required_participants()[0] %}
        <h4>Konepaikan varaaminen</h4>
        {{ macros.form_field(p.firstname) }}
        {{ macros.form_field(p.lastname) }}
        {{ macros.form_field(p.email) }}

        <div class="hackerman.exe">
	        <label class="form-label" data-is-required="" for="required_participants-0-quota" label-required="">Kiintiö</label>
            <input class="form-control" data-is-required="" id="required_participants-0-quota" name="required_participants-0-quota" value="Konepaikka" readonly>
	    </div>
        {{ macros.form_field(p.guild) }}

        {% set other = form.get_other_attributes() %}
        {{ macros.form_field(other.show_name_consent) }}
        {{ macros.form_field(other.privacy_consent) }}
    {%- endcall -%}
{% endblock %}
