{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles -%}
    <style>
        body {
        <!-- background-image: url("{{ url_for('static', filename='img/fragment_bg.webp') }} ");
        --> background-size: cover;
        }

        div.container {
            max-width: 900px;
            background-color: var(--bs-body-bg);
            opacity: 0.975;
        }

        div.form-check {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }


    </style>
{%- endblock -%}

{%- block event_info -%}
    <div class="text-center">
        <img src="{{ url_for('static', filename='img/op_pohjola-white.svg') }}" alt="logo" class="p-1 w-50"
         style="filter: drop-shadow(0.5rem 0.5rem 2px rgba(0, 0, 0, 0.125));)"/>
    </div>
    <p class="text-center">
        <span class="fs-2 fw-bold">Osuuspankin yritysvierailu</span>
    </p>
    <p class="text-center">Tervetuloa Osuuspankin yritysvierailulle keskiviikkona 3.12. klo 16.30 alkaen!<br>
        Vierailu järjestetään OP Ryhmän tuotekehitysyksikössä ydinkeskustan Technopoliksessa, osoittessa
        Sepänkatu 20.
        <br><br>
        Yritysvierailulla pääset tutustumaan Suomen suurimman finanssiryhmän toimintaan ja näkemään, miten Osuuspankki
        kehittää digitaalisia palveluitaan.
        Vierailun aikana pääset myös tutustumaan OP:n työntekijöihin ja siihen, millaisia uramahdollisuuksia OP tarjoaa.
        Illan aikana luvassa on syötävää ja juotavaa, verkostoitumista sekä mielenkiintoisia aihekokonaisuuksia, joten älä jätä tätä
        erinomaista tilaisuutta käyttämättä!
    </p>
    <hr>
    <p class="text-center">Welcome to the OP Financial Group office excursion on Wednesday, December 3rd, starting at
        16:30!<br>
        The visit will take place at OP's product development unit in Technopolis Ydinkeskusta (city center), Sepänkatu 20.
        <br><br>
        During the company visit, you will get to know the operations of Finland's largest financial group and see how
        Osuuspankki develops its digital services.
        You will also get to meet OP's employees and learn about the career opportunities OP offers.
        The evening will include food and drinks, networking, and interesting topics, so don't miss this excellent
        opportunity!
        <br><br>
        <span class="fw-bold">Ilmoittautuminen on sitova. Registration is binding.</span>
    </p>
{% endblock %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {% set p = form.get_required_participants()[0] %}
        <h4>Ilmoittautuminen | Sign-up</h4>
        {{ macros.form_field(p.firstname) }}
        {{ macros.form_field(p.lastname) }}
        {{ macros.form_field(p.email) }}
        {{ macros.form_field(p.telegram) }}
        {{ macros.form_field(p.allergies) }}
        {{ p.quota(hidden=true) }}

        {% set other = form.get_other_attributes() %}
        {{ macros.form_field(other.show_name_consent) }}
        {{ macros.form_field(other.privacy_consent) }}
        {{ macros.form_field(other.binding_registration_consent) }}
    {%- endcall -%}
{% endblock %}
