{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block event_info -%}
    <h1>Slumberparty</h1>

    <p>Slumberparty 27.10 klo. 18-> @Teekkaritalo</p>
    <p><strong>Mikäli olet sairas etkä pääsekään paikalle, ole yhteydessä Riina Annuseen 044 2370526 (Whatsapp,
        Telegram tai tekstiviesti)
    </strong></p>

    <p>Ilmoittautuminen aukeaa 21.10. klo 12:00</p>
{%- endblock -%}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {{ macros.form_field(form.firstname) }}
        {{ macros.form_field(form.lastname) }}
        {{ macros.form_field(form.phone_number) }}
        {{ macros.form_field(form.email) }}
        {{ macros.form_field(form.guild_name) }}
        {{ macros.form_field(form.show_name_consent) }}
        {{ macros.form_field(form.privacy_consent) }}
        {{ macros.form_field(form.binding_registration_consent) }}
    {%- endcall -%}
{%- endblock -%}