{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block event_info -%}
    <p><strong>Mikäli olet sairas etkä pääsekään paikalle, ole yhteydessä Riikka Haatajaan 0442828255 (Whatsapp,
        Telegram tai tekstiviesti)</strong></p>
{%- endblock -%}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {{ macros.form_field(form.firstname) }}
        {{ macros.form_field(form.lastname) }}
        {{ macros.form_field(form.phone_number) }}
        {{ macros.form_field(form.email) }}
        {{ macros.form_field(form.guild_name) }}
        {{ macros.form_field(form.show_name_consent) }}
        {{ macros.form_field(form.privacy_consent) }}
        {{ macros.form_field(form.binding_registration_consent) }}
    {%- endcall -%}
{%- endblock -%}