{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_js -%}
    <script src="{{ url_for('static',filename='js/pakohuone.js') }}"></script>
    <script type="text/javascript">
        var varatut = myFunc({{ varatut | tojson }});
    </script>
{%- endblock -%}

{%- block event_info -%}
    <p>Ilmoita koko joukkue (5-6 henkilöä) kerralla. Huoneita on varattu
        10 per kierros. Ensimmäinen kierros alkaa 18:00 ja toinen kierros 19:30.</p>
{%- endblock -%}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {{ macros.form_field(form.aika) }}
        <div id="huone1800" style="display: none;">
            {{ macros.form_field(form.huone1800) }}
        </div>
        <div id="huone1930" style="display: none;">
            {{ macros.form_field(form.huone1930) }}
        </div>
        {{ macros.form_field(form.firstname) }}
        {{ macros.form_field(form.lastname) }}
        {{ macros.form_field(form.phone0) }}
        {{ macros.form_field(form.email) }}
        {{ macros.form_field(form.etunimi1) }}
        {{ macros.form_field(form.sukunimi1) }}
        {{ macros.form_field(form.etunimi2) }}
        {{ macros.form_field(form.sukunimi2) }}
        {{ macros.form_field(form.etunimi3) }}
        {{ macros.form_field(form.sukunimi3) }}
        {{ macros.form_field(form.etunimi4) }}
        {{ macros.form_field(form.sukunimi4) }}
        {{ macros.form_field(form.etunimi5) }}
        {{ macros.form_field(form.sukunimi5) }}
        {{ macros.form_field(form.privacy_consent) }}
    {%- endcall -%}
{%- endblock -%}

{%- block participant_list -%}
    {%- call(entry) macros.participant_list_routine(registrations.get_entries(), event, 0, event.get_participant_limit()) -%}
        <p>{{ entry.teamname }}</p>
    {%- endcall -%}
    {%- call(entry) macros.participant_list_routine(registrations.get_entries(), event, event.get_participant_limit(), event.get_max_limit()) -%}
        <p>{{ entry.teamname }} (Varasijalla)</p>
    {%- endcall -%}
{%- endblock -%}