{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block content %}

    <script src="{{ url_for('static',filename='pakohuone.js') }}"></script>

    <script type="text/javascript">
        var varatut = myFunc({{ varatut | tojson }});
    </script>

    <div class="container p-3">

        <h1>OTYn Pakopelipäivä</h1>

        <p>Ilmoita koko joukkue (5-6 henkilöä) kerralla. Huoneita on varattu
            10 per kierros. Ensimmäinen kierros alkaa 18:00 ja toinen kierros 19:30.</p>

        <div class="container p-3">
            <div>
                <h4>{{ title }}</h4>
                <h6>* merkityt kohdat pakollisia</h6>
                <h6>
                    <a href="{{ url_for('static',filename='tietosuojaseloste_pakohuone.pdf') }}">Tietosuojaseloste</a>
                </h6>
            </div>
            {% if starttime < nowtime < endtime %}
                <form class="form form-horizontal" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {{ macros.form_field(form.aika) }}
                    <div id="huone1800" style="display: none;">
                        {{ macros.form_field(form.huone1800) }}
                    </div>
                    <div id="huone1930" style="display: none;">
                        {{ macros.form_field(form.huone1930) }}
                    </div>
                    {{ macros.form_field(form.etunimi0) }}
                    {{ macros.form_field(form.sukunimi0) }}
                    {{ macros.form_field(form.phone0) }}
                    {{ macros.form_field(form.email0) }}
                    {{ macros.form_field(form.etunimi1) }}
                    {{ macros.form_field(form.sukunimi1) }}
                    {{ macros.form_field(form.etunimi2) }}
                    {{ macros.form_field(form.sukunimi2) }}
                    {{ macros.form_field(form.etunimi3) }}
                    {{ macros.form_field(form.sukunimi3) }}
                    {{ macros.form_field(form.etunimi4) }}
                    {{ macros.form_field(form.sukunimi4) }}
                    {{ macros.form_field(form.etunimi5) }}
                    {{ macros.form_field(form.sukunimi5) }}
                    {{ macros.form_field(form.consent0) }}
                    <button class="btn btn-info">
                        {{ macros.form_field(form.submit) }}
                    </button>
                    <p>Ilmoittautuminen päättyy {{ endtime }}</p>

                </form>
            {% elif nowtime < starttime %}
                <p>Ilmoittautuminen alkaa {{ starttime }}</p>
            {% else %}
                <p>Ilmoittautuminen on päättynyt</p>
            {% endif %}

            <h3>Osallistujat: {{ entrys|length }}/{{ limit }}</h3>
            <!--{% for entry in entrys %}
                    {% if entry.consent0 %}
                        <p>{{ entry.teamname }}
                        {% if loop.index > limit %}
                            (Varasijalla)
                        {% endif %}</p>
                    {% endif %}
                {% endfor %}-->
        </div>
    </div>
{% endblock %}