{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}


{%- block extra_styles-%}
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/titeenikirves_2024.png') }}");
            background-size: 100%;
            object-fit: contain;
        }

        div.container {
            background-color: white;
            opacity: 0.9;
        }
    </style>
{%- endblock -%}


    {%- block event_info -%}

<p>Titeenit ovat vihdoin täällä! Vuoden parhaat mähinät ovat 15.-17.3., kun Suomen tietoteekkarit kokoontuvat jälleen yhteen selvittämään kuka on killoista kovin. Tiedossa on useita hauskoja lajeja, paljon uusia ja vanhoja ulkopaikkakuntalaisia tuttavia, ja mitä erinomaisin tapahtuma!</p>

    <h3>Maksuohjeet:</h3>
    <ul>
        <li>Tilinumero: FI03 4744 3020 0116 87</li>
        <li>Saaja: Oulun Tietoteekkarit ry</li>
        <li>Summa: 30€ </li>
        <li>Viesti: Oma nimi + Titeenit</li>
        <li>Eräpäivä: 15.3.2024</li>
    </ul>
{%- endblock -%}

{% macro participant_form(form) %}
    {{ macros.form_field(form.firstname) }}
    {{ macros.form_field(form.lastname) }}
    {{ macros.form_field(form.email) }}
    {{ macros.form_field(form.quota) }}
{% endmacro %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {{ participant_form(form.required_participants[0]) }}
        <br />
        {{ macros.form_field(form.get_other_attributes().show_name_consent) }}
        {{ macros.form_field(form.get_other_attributes().privacy_consent) }}
    {%- endcall -%}
{%- endblock -%}

{%- block participant_list -%}
    {%- call(entry, is_in_reserve) macros.participant_list_routine(registrations.get_entries(), event) -%}
        <p>
        {%- set participant = entry.get_required_participants()[0] -%}
        {{ participant.firstname }} {{ participant.lastname }}

        {% if is_in_reserve %}
            {{ " (Varasijalla)" }}
        {% endif %}
        </p>
    {%- endcall -%}
{%- endblock -%}
