{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block event_info -%}
    <p><strong>Mikäli olet sairas etkä pääsekään paikalle, ole yhteydessä Riikka Haatajaan 0442828255 (Whatsapp,
        Telegram tai tekstiviesti)</strong></p>
{%- endblock -%}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {%- set participant = form.get_required_participants()[0] -%}

        {{ macros.form_field(participant.firstname) }}
        {{ macros.form_field(participant.lastname) }}
        {{ macros.form_field(participant.phone_number) }}
        {{ macros.form_field(participant.email) }}
        {{ macros.form_field(participant.quota) }}

        {%- set other = form.get_other_attributes() -%}
        {{ macros.form_field(other.show_name_consent) }}
        {{ macros.form_field(other.privacy_consent) }}
        {{ macros.form_field(other.binding_registration_consent) }}
    {%- endcall -%}
{%- endblock -%}