{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block content %}

    <div class="container p-3">

        <h1>Hyvinvointi- ja etäopiskelukysely arvonta</h1>
        <p>Syötä tietosi jos haluat osallistua arvontaan</p>

        <div class="container p-3">
            <div>
                <!--<h4>{{ title }}</h4>-->
                <h6>* merkityt kohdat pakollisia</h6>
                <h6><a href="{{ url_for('static',filename='tietosuojaseloste_kysely_arvonta_juttu.pdf') }}">Tietosuojaseloste</a>
                </h6>

            </div>
            {% if starttime < nowtime < endtime %}
                <form class="form form-horizontal" method="post" role="form">
                    {{ form.hidden_tag() }}
                    {{ macros.form_field(form.etunimi) }}
                    {{ macros.form_field(form.sukunimi) }}
                    {{ macros.form_field(form.email) }}
                    {{ macros.form_field(form.consent0) }}
                    <button class="btn btn-info">
                        {{ macros.form_field(form.submit) }}
                    </button>
                    <p>Ilmoittautuminen päättyy {{ endtime }}</p>

                </form>
            {% elif nowtime < starttime %}
                <p>Ilmoittautuminen alkaa {{ starttime }}</p>
            {% else %}
                <p>Ilmoittautuminen on päättynyt</p>
            {% endif %}

            <h3>Osallistujat: {{ entrys|length }}/{{ limit }}</h3>
            <!--{% for entry in entrys%}
                    {% if entry.consent0 %}
                        <p>{{ entry.etunimi }} {{ entry.sukunimi }}
                        {% if loop.index > limit %}
                            (Varasijalla)
                        {% endif %}</p>
                    {% endif %}
                {% endfor %}-->
        </div>
    </div>
{% endblock %}