{% extends "form.html" %}
{% import "macros.html" as macros %}

{% block event_info %}
    <h1>Hyvinvointi- ja etäopiskelukysely arvonta</h1>
    <p>Syötä tietosi jos haluat osallistua arvontaan</p>
{% endblock %}

{% block registration_form %}
    {% if event.get_start_time() < nowtime < event.get_end_time() %}
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ macros.form_field(form.firstname) }}
            {{ macros.form_field(form.lastname) }}
            {{ macros.form_field(form.email) }}
            {{ macros.form_field(form.privacy_consent) }}
            {{ macros.form_submit_button() }}

            <p>Ilmoittautuminen päättyy {{ event.get_end_time() }}</p>
        </form>
    {% elif nowtime < event.get_start_time() %}
        <p>Ilmoittautuminen alkaa {{ event.get_start_time() }}</p>
    {% else %}
        <p>Ilmoittautuminen on päättynyt</p>
    {% endif %}

    {{ macros.participant_count(entries|length, event) }}
    {#
    {{ macros.participant_list(entries, event) }}
    #}
{% endblock %}