{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles-%}
    <style>
        div.container {
            background-color: #fbfbf4;
            width: 60%
        }
    </style>
{%- endblock -%}

{%- block event_info -%}
    <p>Lämpimän juhlalliset tervetulotoivotukset teille arvon fuksit ja fuksinmieliset!
    On tullut aika taas juhlistaa uuden vuosikurssin opiskelijoiden mahtavaa alan valintaa
    perinteisillä fuksisitseillä. Sitsit ovat akateeminen pöytäjuhla, jolla on pitkä historia
    teekkariperinteissä ja fuksisitsit ovat paras tapa tutustua tähän perinteeseen. Näillä sitseillä tulet oppimaan vanhoilta tekijöiltä, miten Oulussa sitsataan. Sitsit
    ovat juhlallinen tilaisuus joten pukukoodina toimii cocktail. Onkin siis aika kaivaa yo-puku
    naftaliinista ja tulla sitsaamaan! Jos pukua ei jostain syystä ole saatavilla, voit pukea päällesi siistit tummat farkut. Nämä sitsit ovat ilmaiset tämän vuoden fukseille ja tuutoreille. Muille sitsaajille sitsit maksavat 25 euroa. Maksuohjeet tulevat sähköpostissa ilmoitusvahvistuksen mukana.</p>
<br/>

<p>Warm welcome to you dear freshmen and all freshman-like-minded students!
  It is again time to celebrate the amazing field of study choice of our new class with our
  traditional freshmansittning. "Sittning" is an academic seated meal held within a set time frame, that has a long history
  within out teekkari traditions and freshmansittning is the best way to get to know this tradition. Here you will learn from older students how we do sittnings in Oulu.
  Sittning is a ceremonial event, so our dresscode will be coctail. It is time to put on your suit and come join our festivities!
  If you for some reason can't acces your suit, black pants are acceptable. This sittning is free for freshmen and tutors. For others the cost is 25 euros. You will receive payment instructions via email with confirmation.</p>

    <h4>tl;dr</h4>
    <ul>
        <li>Mitä/What: fuksisitsit / freshmansittning</li>
        <li>Milloin/When: Tiistai 17.9. klo 18 / Tuesday 17.9. at 18</li>
        <li>Missä/Where: Walhallassa / at Walhalla (Jaalakuja 1)</li>
        <li>Pukukoodi/Dresscode: cocktail + teekkarilakki. Tummat farkut käy myös / cocktail + teekkaricap. Black jeans are also okay</li>
    </ul>

{%- endblock -%}

{% macro participant_form(form) %}
    {{ macros.form_field(form.firstname) }}
{{ macros.form_field(form.lastname) }}
    {{ macros.form_field(form.email) }}
    {{ macros.form_field(form.quota) }}
    {{ macros.form_field(form.drink) }}
    {{ macros.form_field(form.liquor) }}
    {{ macros.form_field(form.wine) }}
    {{ macros.form_field(form.allergies) }}
{% endmacro %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {{ participant_form(form.required_participants[0]) }}
        <br />
        {{ macros.form_field(form.get_other_attributes().show_name_consent) }}
        {{ macros.form_field(form.get_other_attributes().privacy_consent) }}
    {%- endcall -%}
{%- endblock -%}
