{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles-%}
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/pitsakalja.jpg') }}");
        }

        div.container {
            max-width: 800px;
            background-color: white;
        }
    </style>
{%- endblock -%}

{%- block extra_js -%}
    <script src="{{ url_for('static',filename='js/pitsakaljasitsit.js') }}"></script>
{%- endblock -%}

{%- block event_info -%}
    <p>Pitsakalja Sitsit 18.11. @Teekkaritalo</p>
    <p><strong>Hinta alkoholillisen juoman kanssa on 20€ ja alkoholittoman juoman kanssa 17€. Maksu tapahtuu
        tilisiirrolla Oulun
        Tietoteekkarit ry:n tilille FI03 4744 3020 0116 87. Kirjoita viestikenttään nimesi, Pitsakalja-sitsit sekä
        alkoholiton tai alkoholillinen valintasi mukaan.</strong></p>

    <p>60 ensimmäisen jälkeen ilmoittautuneet ovat varasijoilla.</p>
    <p>Jos on kysyttävää niin voit olla yhteydessä sähköpostitse pepeministeri@otit.fi</p>
{%- endblock -%}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {%- set participant = form.get_required_participants()[0] -%}
        {{ macros.form_field(participant.firstname) }}
        {{ macros.form_field(participant.lastname) }}
        {{ macros.form_field(participant.email) }}
        {{ macros.form_field(participant.alcohol) }}
        <div id="mieto" style="display: none;">
            {{ macros.form_field(participant.drink_strength) }}
        </div>
        {{ macros.form_field(participant.pizza) }}
        {{ macros.form_field(participant.allergies) }}

        {%- set other = form.get_other_attributes() -%}
        {{ macros.form_field(other.show_name_consent) }}
        {{ macros.form_field(other.privacy_consent) }}
    {%- endcall -%}
{%- endblock -%}
