{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block content %}

    <div class="container p-3">

        <h1>Pubivisa</h1>
        <p>Ilmoita koko joukkue (3-4 henkilöä) kerralla. Ilmoittautumisia otetaan vastaan, jos ilmoittautuneiden
            yhteenlaskettu määrä joukkueenne mukaan lukien on korkeintaan 50</p>
        <p><strong>Mikäli olet sairas etkä pääsekään paikalle, ole yhteydessä Riikka Haatajaan 0442828255 (Whatsapp,
            Telegram tai tekstiviesti)</strong></p>

        {% block ilmo %}
            <div class="container p-3">
                <div>
                    <h4>{{ title }}</h4>
                    <h6>* merkityt kohdat pakollisia</h6>
                    <h6>
                        <a href="{{ url_for('static',filename='tietosuojaseloste_pubivisa.pdf') }}">Tietosuojaseloste</a>
                    </h6>
                </div>
                {% if starttime < nowtime < endtime %}
                    <form class="form form-horizontal" method="post" role="form">
                        {{ form.hidden_tag() }}
                        {{ macros.form_field(form.etunimi) }}
                        {{ macros.form_field(form.teamname) }}
                        {{ macros.form_field(form.etunimi0) }}
                        {{ macros.form_field(form.sukunimi0) }}
                        {{ macros.form_field(form.phone0) }}
                        {{ macros.form_field(form.email0) }}
                        {{ macros.form_field(form.kilta0) }}
                        {{ macros.form_field(form.etunimi1) }}
                        {{ macros.form_field(form.sukunimi1) }}
                        {{ macros.form_field(form.phone1) }}
                        {{ macros.form_field(form.email1) }}
                        {{ macros.form_field(form.kilta1) }}
                        {{ macros.form_field(form.etunimi2) }}
                        {{ macros.form_field(form.sukunimi2) }}
                        {{ macros.form_field(form.phone2) }}
                        {{ macros.form_field(form.email2) }}
                        {{ macros.form_field(form.kilta2) }}
                        {{ macros.form_field(form.etunimi3) }}
                        {{ macros.form_field(form.sukunimi3) }}
                        {{ macros.form_field(form.phone3) }}
                        {{ macros.form_field(form.email3) }}
                        {{ macros.form_field(form.kilta3) }}
                        {{ macros.form_field(form.consent0) }}
                        {{ macros.form_field(form.consent1) }}
                        {{ macros.form_field(form.consent2) }}
                        <button class="btn btn-info">
                            {{ macros.form_field(form.submit) }}
                        </button>
                        <p>Ilmoittautuminen päättyy {{ endtime }}</p>
                    </form>
                {% elif nowtime < starttime %}
                    <p>Ilmoittautuminen alkaa {{ starttime }}</p>
                {% else %}
                    <p>Ilmoittautuminen on päättynyt</p>
                {% endif %}

                <h3>Osallistujat: {{ participant_count }}/{{ limit }}</h3>
                {% for entry in entrys %}
                    {% if entry.consent0 %}
                        <p>{{ entry.teamname }}
                            {% if loop.index > limit %}
                                (Varasijalla)
                            {% endif %}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}

    </div>

{% endblock %}