{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles-%}
	<style>
		div.container {
			background-color: #fbfbf4;
			width: 60%
		}
	</style>
{%- endblock -%}

{%- block event_info -%}
	<p>Lämpimän juhlalliset tervetulotoivotukset teille arvon fuksit ja fuksinmieliset!
	On taas tullut aika juhlistaa uuden vuosikurssin opiskelijoiden mahtavaa alan valintaa
	perinteisillä fuksisitseillä. Sitsit ovat akateeminen pöytäjuhla, jolla on pitkä historia
	teekkariperinteissä ja fuksisitsit ovat paras tapa tutustua tähän perinteeseen. Sitsit
	ovat juhlallinen tilaisuus joten pukukoodina toimii cocktail. Onkin siis aika kaivaa yo-puku
	naftaliinista ja tulla sitsaamaan!</p>

	<h4>tl;dr</h4>
	<ul>
		<li>Mitä: fuksisitsit</li>
		<li>Milloin: 13.9. fuksi-infon jälkeen.</li>
		<li>Missä: Walhallassa</li>
		<li>Pukukoodi: cocktail</li>
	</ul>
{%- endblock -%}

{% macro participant_form(form) %}
	{{ macros.form_field(form.firstname) }}
	{{ macros.form_field(form.lastname) }}
	{{ macros.form_field(form.email) }}
	{{ macros.form_field(form.quota) }}
	{{ macros.form_field(form.drink) }}
	{{ macros.form_field(form.liquor) }}
	{{ macros.form_field(form.wine) }}
	{{ macros.form_field(form.allergies) }}
{% endmacro %}

{%- block registration_form -%}
	{%- call macros.registration_form_routine(form) -%}
		{{ participant_form(form.required_participants[0]) }}
		<br />
		{{ macros.form_field(form_get_other_attributes().show_name_consent) }}
		{{ macros.form_field(form_get_other_attributes().privacy_consent) }}
	{%- endcall -%}
{%- endblock -%}