{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles -%}
    <style>
        div.container:nth-child(1) {
            max-width: 800px;
            background-color: white;
            opacity: 0.9;
        }
    </style>
{%- endblock -%}

{%- block event_info -%}
    <p>Lähtö 3.12. perjantaina aamulla, paluu 5.12. sunnuntaina illalla</p>
    <p>Hinta 40 euroa (ei sisällä sitsien hintaa). Ilmoittautuminen on sitova.</p>
{%- endblock -%}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {%- set participant = form.get_required_participants()[0] -%}

        {{ macros.form_field(participant.firstname) }}
        {{ macros.form_field(participant.lastname) }}
        {{ macros.form_field(participant.email) }}
        {{ macros.form_field(participant.phone_number) }}
        {{ macros.form_field(participant.departure_location) }}

        {%- set other = form.get_other_attributes() -%}
        {{ macros.form_field(other.show_name_consent) }}
        {{ macros.form_field(other.privacy_consent) }}
        {{ macros.form_field(other.binding_registration_consent) }}
    {%- endcall -%}
{%- endblock -%}