{% extends "form.html" %}
{% import "macros.html" as macros %}

{% block extra_styles %}
    <style>
        div.container:nth-child(1) {
            max-width: 800px;
            background-color: white;
            opacity: 0.9;
        }
    </style>
{% endblock %}

{% block event_info %}
    <h4>KMP ilmoittautuminen</h4>
    <p>Lähtö 3.12. perjantaina aamulla, paluu 5.12. sunnuntaina illalla</p>
    <p>Hinta 40 euroa (ei sisällä sitsien hintaa). Ilmoittautuminen on sitova.</p>
{% endblock %}

{% block registration_form %}
    {% if event.get_start_time() < nowtime < event.get_end_time() %}
        <form class="form form-horizontal" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ macros.form_field(form.firstname) }}
            {{ macros.form_field(form.lastname) }}
            {{ macros.form_field(form.email) }}
            {{ macros.form_field(form.phone_number) }}
            {{ macros.form_field(form.departure_busstop) }}
            {{ macros.form_field(form.show_name_consent) }}
            {{ macros.form_field(form.privacy_consent) }}
            {{ macros.form_field(form.binding_registration_consent) }}
            {{ macros.form_submit_button() }}

            <h5>Ilmoittautuminen päättyy {{ event.get_end_time() }}</h5>
            {{ macros.participant_count(entries|length, event) }}
            {{ macros.participant_list(entries, event) }}
        </form>
    {% elif nowtime < event.get_start_time() %}
        <h5>Ilmoittautuminen alkaa {{ event.get_start_time() }}</h5>
    {% else %}
        <h5>Ilmoittautuminen on päättynyt</h5>
        {{ macros.participant_count(entries|length, event) }}
        {{ macros.participant_list(entries, event) }}
    {% endif %}
{% endblock %}