{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}


{%- block extra_styles -%}

{%- endblock -%}

{%- block event_info -%}
    <p>Paikka ja aika: Walhalla 14.3. klo 18:00 alkaen<br />
    Pukukoodi: Cocktail lastensynttäri twistillä<br />
    Jatkoille mukaan OMPx2
    </p>
    <h3>Maksuohjeet:</h3>
    <ul>
        <li>Tilinumero: FI52 5741 3620 5641 27</li>
        <li>Saaja: Communica ry</li>
        <li>Summa: 23€ (46€ jos avec)</li>
        <li>Viesti: Oma nimi (+ avec) Humanöörisitsit</li>
        <li>Eräpäivä: 14.3.2022</li>
    </ul>
{%- endblock -%}


{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {{ macros.form_field(form.firstname) }}
        {{ macros.form_field(form.lastname) }}
        {{ macros.form_field(form.email) }}
        <label class="control-label">Ruokajuoma</label>
        {{ macros.form_field(form.drink) }}
        <label class="control-label">Viinakaato</label>
        {{ macros.form_field(form.liquor) }}
        <label class="control-label">Viini</label>
        {{ macros.form_field(form.wine) }}
        {{ macros.form_field(form.allergies) }}
        {{ macros.form_field(form.seating_preference) }}
        <br />
        <h4>Avecin tiedot</h4>
        {{ macros.form_field(form.avec_firstname) }}
        {{ macros.form_field(form.avec_lastname) }}
        {{ macros.form_field(form.avec_email) }}
        <label class="control-label">Ruokajuoma</label>
        {{ macros.form_field(form.avec_drink) }}
        <label class="control-label">Viinakaato</label>
        {{ macros.form_field(form.avec_liquor) }}
        <label class="control-label">Viini</label>
        {{ macros.form_field(form.avec_wine) }}
        {{ macros.form_field(form.avec_allergies) }}
        {{ macros.form_field(form.avec_seating_preference) }}

        {{ macros.form_field(form.show_name_consent) }}
        {{ macros.form_field(form.privacy_consent) }}
    {%- endcall -%}
{%- endblock -%}


{%- block participant_list -%}
    {%- call(entry) macros.participant_list_routine(registrations.get_entries(), event, 0, event.get_participant_limit()) -%}
        <p>{{ entry.firstname }} {{ entry.lastname }}
        {%- if entry.avec_firstname and entry.avec_lastname %}
            & {{ entry.avec_firstname }} {{ entry.avec_lastname }}
        {%- endif -%}
        </p>
    {%- endcall -%}
    {%- call(entry) macros.participant_list_routine(registrations.get_entries(), event, event.get_participant_limit(), event.get_max_limit()) -%}
        <p>{{ entry.firstname }} {{ entry.lastname }}
        {%- if entry.avec_firstname and entry.avec_lastname %}
            & {{ entry.avec_firstname }} {{ entry.avec_lastname }}
        {%- endif -%}
        (Varasijalla)
        </p>
    {%- endcall -%}
{%- endblock -%}