{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles-%}
<style>
  body {
      background-image: url("{{ url_for('static', filename='img/bus3_.jpg') }}");
      background-repeat: no-repeat;
      background-size: 100%;
  }

  div.container {
      max-width: 900px;
      background-color: white;
      opacity: 0.9;
  }
</style>
{%- endblock -%}

{%- block event_info -%}
<p>Tervetuloa OTiTin Kotimaan pitkälle -24!
Tänä vuonna KMP:n suunta on kohti pohjoista, tarkemmin Rovaniemeä.
Matka on viikonloppureissu välillä 5.4.-7.4. ja koko matkan kustannukseksi tulee 55€/osallistuja, joka pitää sisällään matkat ja majoitukset.</p>

<h3>Maksuohjeet:</h3>
<ul>
  <li>Tilinumero: FI03 4744 3020 0116 87</li>
  <li>Saaja: Oulun Tietoteekkarit ry</li>
  <li>Summa: 55€ </li>
  <li>Viesti: Oma nimi + KMP 2024</li>
  <li>Eräpäivä: 5.4.2024</li>
</ul>

{% endblock %}

{%- block registration_form -%}
{%- call macros.registration_form_routine(form) -%}
{% set p = form.get_required_participants()[0] %}
<h4>Henkilötiedot</h4>
{{ macros.form_field(p.firstname) }}
{{ macros.form_field(p.lastname) }}
{{ macros.form_field(p.email) }}
{{ macros.form_field(p.phone_number) }}
{{ macros.form_field(p.telegram) }}
{{ macros.form_field(p.quota) }}
{{ macros.form_field(p.departure_location) }}

{% set other = form.get_other_attributes() %}
{{ macros.form_field(other.show_name_consent) }}
{{ macros.form_field(other.privacy_consent) }}
{%- endcall -%}
{% endblock %}


