{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles-%}
    <style>
        body {
            background-color: #0f0e1b !important;
        }

        div.container {
            max-width: 900px;
            background-color: var(--bs-body-bg);
            opacity: 0.975;
        }

        div.form-check {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    </style>
{%- endblock -%}

{%- block event_info -%}
    <img src="{{ url_for('static', filename='img/titeenit_banner.png') }}" style="max-width: 100%" alt="banner">
    <h1 class="text-center py-2 my-2">KotiMaanPitkä 2025 goes Titeenit</h1>
    <p>
        Maaliskuun puolivälin lähestyessä ei voi välttyä ajatukselta, että <i>tästäkö se lähtee</i>?
        On siis jälleen aika kaivaa sotakirveet suojistaan, ja lähteä puolustamaan OTiT:n ja koko Oulun kunniaa KotiMaanPitkä-excursion merkeissä Titeenien taistoille!<br>
        Titeeneille kerääntyvät kaikki Suomen tietotekniikan killat mittelöimään erilaisissa lajeissa Titeenikirveestä ja tietoteekkarien herruudesta.
        Tänä vuonna taistot taistellaan Etelä-Karjalassa lappeen Rannoilla, ja matkaan lähdetään excubussin voimin.
    </p>
    <p>
        Taistot käydään perjantaista sunnuntaihin 14.-16.3., ja koko reissun hinta on 63€. Hinta sisältää matkat, lattiamajoituksen kahdelle yölle,
        päivätapahtumat, rannekkeen kahteen iltatapahtumaan, haalarimerkin sekä kuljetukset lappeen Rannoilla tapahtumapaikkojen välillä.
        Lippuja on myynnissä vain 50 kpl, joten ole nopea! Mikäli haluat osallistua reissulle ilman Titeenilippua, pääset matkaan ilmoittautumalla "Muu" -kiintiöön 20 euron hintaan.
        Näitä paikkoja on 8kpl. <b>Kiintiöön vapautetaan jäljelle jääneet tapahtumaliput ilmoittautumisjärjestyksessä, hintaan 43€/kpl!</b>
    </p>
    <hr>
    <p>
        As mid-March approaches, it's hard not to think about a familiar thought: <i>tästäkö se lähtee</i> (is this where it all begins)?
        It's once again time to dig out your battle-axes from their hiding spots and set out to defend OTiT's and Oulu's honor at the KotiMaanPitkä excursion in the form of Titeenien Taistot (Battle of the Titans)!
        Titeenit is a yearly national event that gathers all the Finnish CSE guilds together to mingle, have fun, and ultimately compete in various activities for the Titeeni axe trophy and the supremacy of CSE students.
        This year, the battles will take place in South Karelia, on the shores of lappeen Rannat (also known as Lappeenranta). We'll travel there by bus.
    </p>
    <p>
        The battles will be held on March 14–16 (Friday-Sunday), and the entire trip costs 63€. The price includes transportation,
        floor accommodation for two nights, daytime events, wristbands for two evening events, an overall badge, and transport between event locations in lappeen Rannat.
        Only 50 tickets are available, so act fast! If you'd like to join the trip without a Titeeni ticket, you can sign up for the "Other" quota at a price of 20€.
        There are 8 spots available. <b>Remaining event tickets will be released to this quota in the order of registration at a price of 43€/each!</b>
    </p>
{% endblock %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {% set p = form.get_required_participants()[0] %}
        <h4>Henkilötiedot | Personal information</h4>
        {{ macros.form_field(p.firstname) }}
        {{ macros.form_field(p.lastname) }}
        {{ macros.form_field(p.email) }}
        {{ macros.form_field(p.phone_number) }}
        {{ macros.form_field(p.telegram) }}
        {{ macros.form_field(p.quota) }}
        {{ macros.form_field(p.departure_location) }}
        {{ macros.form_field(p.allergies) }}
        {{ macros.form_field(p.weight) }}
        {{ macros.form_field(p.is_scared) }}
        {% set other = form.get_other_attributes() %}
        {{ macros.form_field(other.show_name_consent) }}
        {{ macros.form_field(other.privacy_consent) }}
    {%- endcall -%}
{% endblock %}
