{%- extends "form.html" -%}
{%- import "macros.html" as macros -%}

{%- block extra_styles-%}
    <style>
        body {
            background-image: url("{{ url_for('static', filename='img/OTiT_T_logo_white.svg') }}"), linear-gradient(135deg, #0d1b2a, #2b4161) !important;
            background-repeat: repeat, no-repeat !important;
            background-size: 150px, cover !important;
            background-position: 0 0, center !important;
            {#background-blend-mode: overlay !important;#}
        }

        div.container {
            max-width: 900px;
            background-color: #2b2b2b;
            opacity: 1;
        }

        div.form-check {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    </style>
{%- endblock -%}

{%- block event_info -%}
{#    <img src="{{ url_for('static', filename='img/titeenit_banner.png') }}" style="max-width: 100%" alt="banner">#}
    <h1 class="text-center py-2 my-2">Kutsuvierasilmoittautuminen OTiT:n 37v vuosijuhliin</h1>
    <p class="text-center my-2">
        Tervetuloa juhlistamaan Oulun Tietoteekkarit ry:n 37-vuotista taivalta vuosijuhlien merkeissä!<br>
        Vuosijuhlat järjestetään lauantaina 27.9.2025.<br><br>

        Vuosijuhlapäivä käynnistyy klo 14.00 alkaen cocktailtilaisuudella Teekkaritalolla, osoitteessa Kalervontie 7, 90570 Oulu.<br>
        Kutsuvieraana olet tervetullut osallistumaan tilaisuuteen, ja jättämään halutessasi tervehdyksen yhdistykselle.<br>
        Ilmoitathan tervehdyksen jättämisestä alla olevassa lomakkeessa.<br><br>

        Cocktailtilaisuuden jälkeen siirrymme yhteisellä bussikuljetuksella Alppimajalle (Tirolintie 7, 90530 Oulu) pääjuhlaa varten.<br>
        Pääjuhla alkaa klo 18.00 tervetuliaismaljalla, jonka jälkeen nautimme kolmen ruokalajin illallisen sopivalla ohjelmalla höystettynä.<br>
        Pääjuhlan ohjelma kestää n. klo 23.00 asti, minkä jälkeen iltaa jatketaan aamun pikkutunneille asti paikassa X.<br>Jatkopaikalle on bussikuljetus Alppimajalta.<br><br>

        Illalliskortin hinta on yhdistyksen varsinaiselle jäsenelle <b>85 €</b> ja muille <b>99 €</b>.<br>Iltajuhlan pukukoodina toimii juhlapuku akateemisin kunniamerkein.<br>Huomaathan, että pääjuhla- ja jatkopaikka <b>eivät ole</b> anniskelualuetta.<br><br>

        Vuosijuhlat jatkuvat seuraavana päivänä (su 28.9.) silliaamiaisen merkeissä Teekkaritalolla.<br>
        Silliksen hinta on 15 €, ja sinne ilmoittaudutaan rastittamalla sopiva ruutu alla olevasta lomakkeesta.<br>Silliksen alkamisajankohta tiedotetaan myöhemmin.<br><br>
    </p>

    <hr>

    <p class="text-center my-2">
        Welcome to celebrate the 37th anniversary of Oulun Tietoteekkarit ry!<br>
        The annual celebration will be held on Saturday, September 27, 2025.<br><br>

        The anniversary day begins at 14:00 with a cocktail reception at Teekkaritalo (Kalervontie 7, 90570 Oulu).<br>
        As an invited guest, you are welcome to attend and, if you wish, deliver a greeting to the association.<br>
        Please indicate in the form below if you will deliver a greeting.<br><br>

        After the cocktail reception, a bus transfer will take us to Alppimaja (Tirolintie 7, 90530 Oulu) for the main celebration.<br>
        The main celebration begins at 18.00 with a welcome toast, after which we will enjoy a three-course dinner accompanied by appropriate programme.<br>
        The main celebration lasts until about 23:00, after which the evening continues into the small hours at location X.<br>A bus transfer will take guests from Alppimaja to the after party.<br><br>

        The dinner card costs <b>85 €</b> for full members of the association and <b>99 €</b> for others.<br>The dress code is formal / white tie with academic decorations.<br>
        Please note that the main and after party venues are <b>not</b> licensed serving areas,<br>i.e. bringing your own drinks is permitted.<br><br>

        The festivities continue the next day (Sun, Sept 28) with a traditional sillis brunch at Teekkaritalo.<br>
        The sillis costs 15 €, and you can register by ticking the appropriate box in the form below.<br>The starting time will be announced later.<br><br>
    </p>
{% endblock %}

{%- block registration_form -%}
    {%- call macros.registration_form_routine(form) -%}
        {% set p = form.get_required_participants()[0] %}
        <h4>Henkilötiedot | Personal information</h4>
        {{ macros.form_field(p.firstname) }}
        {{ macros.form_field(p.lastname) }}
        {{ macros.form_field(p.email) }}
        {{ macros.form_field(p.phone_number) }}
        <div class="purkkafix" style="display: none;">
            <label class="form-label" data-is-required="" for="required_participants-0-quota" label-required="">Kiintiö</label>
            <input class="form-control" data-is-required="" id="required_participants-0-quota" name="required_participants-0-quota" value="Osallistuja" readonly>
        </div>
        <hr>
        {{ macros.form_field(p.toast) }}
        {{ macros.form_field(p.wine) }}
        {{ macros.form_field(p.avec_drink) }}
        {{ macros.form_field(p.allergies) }}
        <hr>
        {{ macros.form_field(p.greeting) }}
        {{ macros.form_field(p.organization) }}
        {{ macros.form_field(p.seat) }}
        {{ macros.form_field(p.study_year) }}
        {{ macros.form_field(p.sillis) }}

        <hr>
        {% set other = form.get_other_attributes() %}
        {{ macros.form_field(other.show_name_consent) }}
        {{ macros.form_field(other.privacy_consent) }}
        {{ macros.form_field(other.binding_registration_consent) }}
    {%- endcall -%}
{% endblock %}
