{% extends "header.html" %}
{% import "macros.html" as macros %}


{% macro participant_table_header(table_info) %}
    <thead>
    <tr>
        <th>#</th>
        {%- for header in table_info.get_header_names() -%}
            <th>{{ header }}</th>
        {%- endfor -%}
    </tr>
    </thead>
{% endmacro %}


{% macro participant_table_row(entry, table_info) %}
    {%- for attribute in table_info.get_attribute_names() -%}
        <td>{{ entry|attr(attribute) }}</td>
    {%- endfor -%}
{% endmacro %}


{% macro participant_table_rows(entries, event, start, end) %}
    {%- for entry in entries[start:end] -%}
        <tr>{{- caller(entry, loop.index + start) -}}</tr>
    {%- endfor -%}
{% endmacro %}


{% macro participant_table_body(entries, event, table_info) %}
    {% set quota_counts = dict.fromkeys(event.get_quotas().keys(), 0) %}
    {% set quotas = event.get_quotas() %}
    <tbody>
        {%- call(entry, index) participant_table_rows(entries, event, 0, event.get_max_limit()) -%}
            {% set quota_name = '_' %}
            {% if entry.quota%}
                {% set quota_name = entry.quota %}
            {% endif %}
            {% if entry.guild_name %}
                {% set quota_name = entry.guild_name %}
            {% endif %}
            {% set dummy = quota_counts.update({quota_name: quota_counts[quota_name] + 1}) %}
            <td>{{ index }}.
            {% if quota_counts[quota_name] >= quotas[quota_name].get_quota() %}
                (Varasijalla)
            {% endif %}
            </td>
            {{ participant_table_row(entry, table_info) }}
        {%- endcall -%}
    </tbody>
{% endmacro %}


{% macro participant_table(entries, event, table_info) %}
    <table class="table" rules="all">
        {{ participant_table_header(table_info) }}
        {{ participant_table_body(entries, event, table_info) }}
    </table>
{% endmacro %}


{% block content %}
    <div class="container p-3">
        <h1>{{ event.get_title() }}</h1>
        <h3>Osallistuja data</h3>

        <a href="{{ url_for(module_info.get_endpoint_get_data_csv()) }}">
            <button class="btn btn-info">Lataa data CSV tiedostona</button>
        </a>
    </div>
    <div class="p-3">
        {{ macros.participant_count(registrations, event) }}
        {{ participant_table(registrations.get_entries(), event, table_info) }}
    </div>
{% endblock %}