{%- extends "header.html" -%}
{%- import "macros.html" as macros -%}

{%- block content -%}
    <div class="container p-3">
    {% if not event.hide_title() %}
        <h1>{{ event.get_title() }}</h1>
    {% endif %}
        {%- block event_info -%}{%- endblock -%}
        <h6>{{ macros.privacy_statement(module_info) }}</h6>
    </div>
    <div class="container p-3">
        <hr />
        {%- if event.get_registration_start_time() < nowtime < event.get_registration_end_time() -%}
            <div class="mb-3">
                {{ macros.registration_ends(event) }}
                <span class="fst-italic">Tähdellä merkityt kohdat ovat pakollisia.</span><br>
                <span class="fst-italic">Fields marked with an asterisk are mandatory.</span>
            </div>
            {% block registration_form %}
                {{ macros.basic_registration_form(form) }}
            {% endblock %}
        {%- elif nowtime < event.get_registration_start_time() -%}
            {{ macros.registration_begins(event) }}
        {%- else -%}
            {{ macros.registration_ended(event) }}
        {%- endif -%}
    </div>
    {%- if event.get_list_participant_name() -%}
        <div class="container p-3">
            <hr />
            {{ macros.participant_count(registrations, event) }}
            {%- block participant_list -%}
                {{ macros.participant_list(registrations.get_entries(), event) }}
            {%- endblock -%}
        </div>
    {% endif %}
{%- endblock -%}
