{% import "bootstrap/wtf.html" as wtf %}


{% macro format_datetime(datetime) %}
    {{ datetime.strftime('%d.%m.%Y %H:%M') }}
{% endmacro %}


{% macro registration_form_routine(form) %}
    <form class="form form-horizontal" method="post" role="form">
        {{- form.hidden_tag() -}}
        {{- caller() -}}
        {{- form_submit_button() -}}
    </form>
{% endmacro %}


{% macro basic_registration_form(form) %}
    {%- call registration_form_routine(form) -%}
        {% for participant in form.get_required_participants() %}
            {{ form_field(participant.firstname) }}
            {{ form_field(participant.lastname) }}
            {{ form_field(participant.email) }}
        {% endfor %}

        {% set other = form.get_other_attributes() %}
        {{ form_field(other.privacy_consent) }}
    {%- endcall -%}
{% endmacro %}


{% macro form_field(field) %}
    {#
        TODO: wtf.form_field is poorly made and needs to be replaced.
              Look into replacing it and keep the replacement bootstrap
              compatible.
    #}
    {{- wtf.form_field(field) -}}
{% endmacro %}


{% macro form_submit_button() %}
    <button class="btn btn-info">
        <input class="btn btn-default" value="Ilmoittaudu" type="submit">
    </button>
{% endmacro %}


{% macro registration_begins(event) %}
    <h5>Ilmoittautuminen alkaa {{ format_datetime(event.get_start_time()) }}</h5>
{% endmacro %}


{% macro registration_ends(event) %}
    <h5>Ilmoittautuminen päättyy {{ format_datetime(event.get_end_time()) }}</h5>
{% endmacro %}


{% macro registration_ended(event) %}
    <h5>Ilmoittautuminen on päättynyt</h5>
{% endmacro %}


{% macro privacy_statement(module_info) %}
    {% set filename = 'privacy_statements/' ~ module_info.get_form_name() ~ '.pdf' %}
    <a href="{{ url_for('static',filename=filename) }}">Tietosuojaseloste</a>
{% endmacro %}


{% macro participant_list_routine(entries, event) %}

    {%- macro reserve_check(participants, ns) -%}
        {%- for participant in required_participants -%}
            {%- set quota_name = participant.quota -%}
            {%- set quota_count = quota_counts[quota_name] -%}
            {%- set ns.reserve = ns.reserve or quota_count < quotas[quota_name].get_quota() -%}
            {%- set _ = quota_counts.update({quota_name: quota_count + 1}) -%}
        {%- endfor -%}
    {%- endmacro -%}

    {%- if event.get_list_participant_name() -%}
        {%- set quotas = event.get_quotas() -%}
        {%- set quota_counts = dict.fromkeys(quotas.keys(), 0) -%}

        {%- for entry in entries %}
            {%- set required_participants = entry.get_required_participants() -%}
            {%- set optional_participants = entry.get_optional_participants() -%}
            {%- set ns = namespace(reserve = false) -%}

            {# MEMO: Calculate if this entry is on a reserve place. #}
            {% reserver_check(required_participants, ns) %}
            {% reserver_check(optional_participants, ns) %}

            {% if entry.get_other_attributes().get_show_name_consent() %}
                {# parameters: required_participants, optional_participants, reserve #}
                {{- caller(required_participants, optional_participants, ns.reserve) -}}
            {% endif %}

        {% endfor -%}
    {%- endif -%}
{% endmacro %}


{% macro participant_list(entries, event) %}
    {% call(entry, quota_count, max_quota_count) participant_list_routine(entries, event) %}
        {% if quota_count < max_quota_count %}
            <p>{{ entry.get_firstname() }} {{ entry.get_lastname() }}</p>
        {% else %}
            <p>{{ entry.get_firstname() }} {{ entry.get_lastname() }} (Varasijalla)</p>
        {% endif %}
    {% endcall %}
{% endmacro %}


{% macro participant_count(registrations, event) %}
    <h2>Osallistujat {{ registrations.get_participant_count() }}/{{ event.get_participant_limit() }}</h2>
{% endmacro %}
